#world-map {
  background-color: #ffffff;
  min-height: 500px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.control-button {
  margin-left: 8px;
  background: transparent;
  border: 0;
}

.control-button > .bi {
  color: rgb(114, 114, 114);
  font-size: 24px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

#scrolly {
  position: relative;
  /* background-color: #f3f3f3; */
  padding: 1rem;
}

article {
  position: relative;
  padding: 0;
  /* max-width: 20rem; */
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
  z-index: 0;
}

.step {
  margin: 0 auto 2rem auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active .step-title {
  background-color: #1c1340;
  color: #ffffff;
}

.step .step-title {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #939393;
}

.text-block {
  font-size: 20px;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.visual-block {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#banner-block {
  margin-bottom: 30px;
}

.image-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-block > img,
#banner-block > img {
  width: 100%;
}

.center {
  text-align: center;
}

.title-block {
  font-weight: bolder;
  font-size: 24px;
  color: #1c1340;
}

#deceases_bar_race,
#confirmed_bar_race,
#pcr_treemap {
  width: 100%;
  height: 500px;
  margin: 0px auto;
}

#label-week {
  font-weight: bolder;
  color: #1c1340;
}

#label-week-block {
  font-size: 20px;
  margin-top: 10px;
}

#casesUCI,
#daily-deads-info,
#graves-percent-evol,
#daily-acthome-info1,
#daily-acthome-info,
#daily-porciento-positivos,
#asymcases-total-percent,
#importedPie,
#sexPie {
  height: 400px;
}

.center {
  text-align: center;
}

.escenario {
  text-align: center;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 15px;
}

.comunidad {
  color: #00afff;
}

.aislamiento {
  color: #005778;
}

.hospital {
  color: #1c1340;
}
.med {
  background-color: silver;
  color: #ffffff;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 15px;
}

#protocolos-legend {
  margin-top: 15px;
  text-align: center;
}

.new {
  border-bottom-style: solid;
  border-color: #b11116;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-width: 2px;
}
.nacional {
  background-color: #d0797c;
}

.producido {
  background-color: #1a8323;
}

.importado {
  background-color: #ca9f31;
}

.tnacional {
  color: #d0797c;
}

.tproducido {
  color: #1a8323;
}

.timportado {
  color: #ca9f31;
}

.tnone {
  color: #ffffff;
}

.selection {
  color: silver;
}

.protocol-text {
  font-size: 17px;
}

#protocolos-resp-cont {
  margin-left: -15px;
}

#protocolos-resp {
  margin: 0 auto;
  width: 310px;
}

.navbar {
  padding: 0 1rem 0 0;
}

.navbar-brand {
  padding: 0;
}

.navbar a.nav-link {
  font-weight: bold;
  text-transform: uppercase;
}

.navbar a.nav-link:hover {
  color: #1c1340 !important;
}

.step-text {
  font-size: 22px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  color: #000;
}

.steper {
  min-height: 500px;
  padding-bottom: 30px;
}

<<<<<<< HEAD
.iframe-viewport-16x9 {
  width: 76vw;
  height: 42.74vw;
}

.iframe-viewport-other {
  width: 68vw;
  height: 58vw;
}
=======
#credits-block {
  min-height: 500px;
  background-color: #1c1340;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}
>>>>>>> bdeae1eadcaaa054c9ff20befa8b15568f2a0f66
