#world-map {
  background-color: #ffffff;
  min-height: 500px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.control-button {
  margin-left: 8px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

#scrolly {
    position: relative;
    background-color: #f3f3f3;
    padding: 1rem;
}

article {
    position: relative;
    padding: 0;
    /* max-width: 20rem; */
    margin: 0 auto;
}

figure {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /* background-color: #8a8a8a; */
    z-index: 0;
}

.step {
    margin: 0 auto 2rem auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active p {
    background-color: goldenrod;
    color: #3b3b3b;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #3b3b3b;
}
